*{
    font-family: "Azeret Mono", serif;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

/* header section starts here */
.header{
    margin: 25px auto;
    margin-bottom: 0px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    gap: 710px;
}
.resume-button{
    padding: 10px 15px;
    color:rgb(67, 66, 66);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(196, 195, 195);
}
/* header section ends here */

/* banner section starts here */
.banner{
    background-image: url(assets/Hero-bg.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img{
    margin-bottom: 15px;
}
.banner-title{
    padding: 0 300px;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}
.banner-description{
    padding: 0 200px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
    color: rgb(67, 66, 66);
}
.banner-btn{
    padding: 15px 20px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
/* banner section ends here */

/* main section starts here */
.main{
    width: 80%;
    margin: 0 auto;
}

/* development section starts here */
.development-section{
    background-color: rgb(250, 250, 240);
    margin-top: 60px;
    padding-bottom: 60px;
    border-radius: 15px;
    padding-top: 60px;
}
.development-title{
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}
.development-description{
    padding: 0 150px 100px 150px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
    color: rgb(67, 66, 66);
}
.development-box-section{
    margin: 40px 60px;
    padding: 80px;
    border-radius: 25px;
    background-color: rgb(238, 245, 245);
}

.development-box-1{
    display: flex;
    justify-content: space-between;
}
.development-box-2{
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 80px 0px 80px 0px;
}
.development-box-3{
    display: flex;
    justify-content: space-between;
}
.development-box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.dev-box-cont-2{
    padding-left: 50px;
}
.development-box-title{
    font-size: 30px;
    padding-right: 200px;
    font-weight: 700;
    color: rgb(73, 73, 73);
}
.development-box-description{
    margin: 20px 0px;
    padding-right: 150px;
    font-size: 16px;
}
.development-box-btn{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid gray;
    border-radius: 8px;
}
/* development section ends here */

/* inspiration section starts here */
.inspiration-section{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.inspiration-description{
    font-size: 16px;
    margin: 20px 0px;
    padding: 0px 100px;
    text-align: center;
    padding-bottom: 50px;
}
.inspiration-video{
    margin-top: 10px;
    padding: 20px;
    border: 2px solid rgb(72, 71, 71);
    border-radius: 15px;
}
.inspiration-video iframe{
    border-radius: 15px;
}
/* inspiration section ends here */

/* my current target section starts here */
.current-target-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.current-target-description{
    margin: 20px 0px;
    font-size: 16px;
    text-align: center;
    padding: 0px 100px;
}
.current-target-box{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.current-target-box-1{
    background-color:rgb(240, 234, 226);
    padding: 30px;
    border-radius: 15px;
}
.current-target-box-2{
    background-color:rgb(221, 233, 240);
    padding: 30px;
    border-radius: 15px;
}
.current-target-box-3{
    background-color:rgb(239, 240, 214);
    padding: 30px;
    border-radius: 15px;
}
.current-target-box-img{
    margin: 15px 0px;
}
.current-target-box-title{
    font-size: 25px;
    font-weight: bold;
}
.current-target-box-description{
    margin: 15px 0px;
    font-size: 16px;
}
/* my current target section ends here */

/* my next target section starts here */
.next-target{
    margin: 100px 0px;
}
.next-target-box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.next-target-box-1{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 30px;
    border: 2px solid rgb(215, 213, 213);
    border-radius: 15px;
    box-shadow: inset;
}
.rcbg{
    background-color: rgb(238, 244, 246);
}
.ndbg{
    background-color: rgb(241, 247, 243);
}
.next-content p{
    padding-right: 200px;
}
.ntp{
    padding-left: 45px;
}
/* my next target section ends here */