*{
    font-family: "Azeret Mono", serif;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

/* header section starts here*/
.header{
    margin: 25px auto;
    margin-bottom: 0px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    display: flex;
    gap: 800px;
}
.resume-button{
    padding: 10px 15px;
    color:rgb(67, 66, 66);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid rgb(196, 195, 195);
}
/*header section ends here*/

/* banner section starts here*/
.banner{
    background-image: url(assets/Hero-bg.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img{
    margin-bottom: 15px;
}
.banner-title{
    padding: 0 300px;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}
.banner-description{
    padding: 0 200px;
    margin: 30px auto;
    font-size: 16px;
    text-align: center;
    color: rgb(67, 66, 66);
}
.banner-btn{
    padding: 15px 20px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
/*banner section ends here*/

